* {
  word-break: break-all;
  font-family: "微软雅黑", tahoma, '宋体', Arial, Lucida, Verdana, Helvetica, sans-serif;
  font-size: 14px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #fff;
  padding: 0;
  margin: 0;
  min-width: 1200px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  -webkit-padding-start: 0;
  padding: 0px;
  margin: 0px;
}
i,
em {
  font-style: normal;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
input {
  font-size: 0.14rem;
}
input[type="submit"],
input[type="button"],
input[type="text"] {
  -webkit-appearance: none !important;
  border-radius: 0 !important;
}
input:focus,
textarea:focus,
selects:focus {
  border-color: #feebd9 !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fecb98;
}
html,
a {
  text-decoration: none;
  color: lightcoral;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link,
:visited,
ins {
  text-decoration: none;
}
