.main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.main .code {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  padding-right: 500px;
  background: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
}
.main .show {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 450px;
  background: #FFF;
  box-sizing: border-box;
  padding: 50px 20px 20px;
  border-left: 1px solid #eeeeee;
  overflow: hidden;
}
.main .show .phone {
  margin: 20px 20px 0;
  background-image: url('../assets/images/phone.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  padding: 100px 16px;
  box-sizing: border-box;
  width: 365px;
}
.main .show .phone .phonr_main {
  width: 100%;
  height: 580px;
  background-color: #FFF;
  overflow: hidden;
}
.main .show .phone .phonr_main_hiden {
  width: 110%;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}
.main .show .phone .content {
  width: 333px;
  height: 100%;
  overflow: hidden;
}
